@import url(http://fonts.googleapis.com/css?family=Tenor+Sans);

html {
    font-family: "Tenor Sans", sans-serif;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 10px;
}

body {
    font: 14px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #204040;
    background: #434fac;
}


#wrapper{
    display:block;
    width: 340px;
    text-align: center;
}

.register-title {
    width: 100%;
    line-height: 40px;
    margin: 5px auto;
    font-size: 19px;
    font-weight: 500;
    color: white;
    color: rgba(255, 255, 255, 0.95);
    text-align: center;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    background: #445;
    border-radius: 3px;

    box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.05), 0 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3);
}

.register {
    margin: 10px auto;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #5D92BA;
    border-radius: 3px;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3);
}

input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.register-input {
    width: 90%;
    padding: 20px 10px;
    background: #5D92BA;
    border: none;
    font-size: 1em;
    color: white;
    margin:0 auto;
    border-bottom: 1px dotted rgba(250, 250, 250, 0.4);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
    -webkit-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
}

.register-input:-moz-placeholder {
    color: #81aac9;
}

.register-input:-ms-input-placeholder {
    color: #81aac9;
}

.register-input::-webkit-input-placeholder {
    color: #81aac9;
}

.register-input:focus {
    background-color: #4478a0;
}

.register-button {
    display: block;
    width: 90%;
    height: 48px;
    margin:0 auto;
    margin-top:20px;
    font-size: 16px;
    font-weight: bold;
    color: #494d59;
    border-radius: 2px;
    text-align: center;
    text-shadow: 0 1px rgba(255, 255, 255, 0.5);

    padding-top:15px;padding-bottom:15px;
    border: none;
    background: white;
    color: #5D92BA;
    cursor: pointer;
    transition: box-shadow 0.2s;
}

.register-button:hover{
    box-shadow: #222 0 2px 3px;
}
.register-button:active {
background: #eee;
border-color: #c3c3c3 #d1d1d1 #d8d8d8;
background-image: -webkit-linear-gradient(top, #eeeeee, #fcfcfc);
background-image: -moz-linear-gradient(top, #eeeeee, #fcfcfc);
background-image: -o-linear-gradient(top, #eeeeee, #fcfcfc);
background-image: linear-gradient(to bottom, #eeeeee, #fcfcfc);
-webkit-box-shadow: inset 0 1px rgba(0, 0, 0, 0.03);
box-shadow: inset 0 1px rgba(0, 0, 0, 0.03);
}

.register-button:disabled{
    box-sizing: border-box;
    padding: 15px 30px;
    -webkit-box-shadow:inset 0px 0px 0px 2px #fff;
    -moz-box-shadow:inset 0px 0px 0px 2px #fff;
    box-shadow:inset 0px 0px 0px 2px #fff;
    background: #5D92BA;
    color: white;
    cursor: default;
}

.register-button:focus {
    outline: 0;
}

.register-switch {
    height: 32px;
    padding: 2px;
    background: #3d62b3;
    width:86%;
    margin:0 auto;
    margin-bottom: 15px;
    -webkit-box-shadow: inset 0 1px rgba(0, 0, 0, 0.05), inset 1px 0 rgba(0, 0, 0, 0.02), inset -1px 0 rgba(0, 0, 0, 0.02);
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.05), inset 1px 0 rgba(0, 0, 0, 0.02), inset -1px 0 rgba(0, 0, 0, 0.02);
}

.register-switch-input {
    display: none;
}

.register-switch-label {
    float: left;
    width: 50%;
    line-height: 32px;
    color: white;
    text-align: center;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.register-switch-input:checked + .register-switch-label {
    font-weight: 500;
    color: #434248;
    text-shadow: 0 1px rgba(255, 255, 255, 0.5);
    background: white;
    border-radius: 2px;

    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.1);
}

:-moz-placeholder {
    color: #aaa;
    font-weight: 300;
}

::-moz-placeholder {
    color: #aaa;
    font-weight: 300;
    opacity: 1;
}

::-webkit-input-placeholder {
    color: #aaa;
    font-weight: 300;
}

:-ms-input-placeholder {
    color: #aaa;
    font-weight: 300;
}

::-moz-focus-inner {
    border: 0;
    padding: 0;
}

#birthday-input{
    text-align:center;

}


.DOB {
    font-family: 'Arial';
    font-size: 15px;
    color: #81aac9;
    display:inline-block;
    /*//border-radius:3px;*/
    /*//border:1px solid;*/

}

.birthday {
    width: 80px;
    line-height: 8px;
    margin: 10px auto;
    display:inline-block;
    font-size: 19px;
    font-weight: 500;
    color: white;
    color: rgba(255, 255, 255, 0.95);
    text-align: center;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    background: #3d62b3;
    border-radius: 3px;
    border-color: #3d62b3;
    border-style: hidden;

}

.birthyear {
    width: 85px;
    line-height: 8px;
    margin: 10px auto;
    display:inline-block;
    font-size: 19px;
    font-weight: 500;
    color: white;
    text-align: center;
    background: #3d62b3;
    border-radius: 3px;
    border-color: #3d62b3;
    border-style: hidden;

}

.select-style {
    width: 85px;
    font-family: Arial;
    line-height: 32px;
/ / margin: 50 px auto 20 px;
    font-size: 19px;
    font-weight: 500;
    color: white;
    background: #3d62b3;
    border-radius: 3px;
    border-color: #3d62b3;
    border-style: hidden;

}

.input-with-checkbox{width:80%;display:inline-block;}
.check-logo{width:5%;display:inline-block;padding:4px;}
@media(min-width:501px){
    #wrapper{margin-left:65%;}
}
@media(max-width:500px){
    #wrapper{width:100vw !important;}
    html,body{background-color:#445;}
}
