html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}
ol, ul {list-style: none;}

blockquote, q {
    quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}
::-webkit-scrollbar { 
    display: none; 
}

body {
    border-color: #922;
    padding: 0;
    margin: 0;
    border: 0;
    border: none;
    padding: none;
    margin: none;
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
}

ul, li, a {
    text-decoration: none;
    color: inherit;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #333;
}

::-moz-placeholder { /* Firefox 19+ */
    color: #333;
}

:-ms-input-placeholder { /* IE 10+ */
    color: #333;
}

:-moz-placeholder { /* Firefox 18- */
    color: #333;
}

#header {
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    position: fixed;
    background-color: #fff;
    z-index: 5 !important;
    box-sizing: border-box;
    font-size: 1em;
    clear: both;
    box-shadow: 0 2px 2px #a33;
    color:#a33 !important;
}

.head-elem {
    padding: 10px;
    display: inline-block;
    color: #a33 !important;
    padding-left: 1px;
    padding-right: 1px;
}

.head-elem:first-child {
    width: 15%;
    text-align: center;
}

.head-elem:last-child {
    padding-right: 5px;
}

#search-bar {
    width: 50vw;
    height: 100%;
    color: #222;
}

#search-input-holder{
    width: 80%;
    display: inline-block;
    float: left;
    padding: 2px;
}
#search-input{
    width: 96%;
    padding: 9px;
    transition:0.2s;
    border: none; 
    background-color: #eee;
    color: #000;
    border:1px solid transparent;
}
#search-input:focus {border:1px solid #a33;}
#search-results {
    width:37vw;
    padding: 9px;
    position: absolute;
    box-shadow: 0 2px 2px #922;
    height: 200px;
    margin-top: 5px;
    color: #a33;
    outline: #a33;
    background-color: #f3f3f3;
    display: none;
}

#search-results::before{
    content: 'top searches...';
    border-bottom: 1px solid #ddd;
}


#search-btn {
    padding-top: 7px;
    padding-bottom: 6px;
	padding-right:10px;
    transition: 0.2s;
    border: none;
    background: transparent;
    font-size: 1.1em;
    color: inherit;
    cursor: pointer;
}


.head-elem:last-child {
    width: 10%;
    float: right;
    display: inline-block;
    right: 0;
    position: absolute;
    text-align: center;
}

#settings-btn {
	margin-right:5px;
    cursor: pointer;
    display: inline-block;
    transition: 0.3s;
    padding: 3px;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
}

#settings-select {
    background-color: #eee;
    color: #922;
    display: none;
    position: absolute;
    width: 100px;
    right: 20px;
    top: 50px;
    position: absolute;
    box-shadow: 0 0 5px #922;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: -12px !important;
}

.select-opt {
    text-align: center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 auto;
    clear: both;
    transition:0.2s;
    cursor: pointer;
}

.select-opt:hover {
    background-color: #fff;
}

/*feeds*/

.feed {
    width: 90%;
    padding: 3px;
    display: block;
    margin: 0 auto;
    box-sizing: border-box;
    padding-top: 10px;
    margin-bottom: 10px;
    border-bottom: 3px solid #eaa;
    background-color: #f3f3f3;
    border-top: 3px solid #fefefe;
}

.feed-header {
    color: #922;
    padding: 2px;
    cursor: pointer;
    clear: both;
    text-align: left;
}

.feed-header:hover {
    text-decoration: underline;
}

.feed-content {
    width: 94%;
    color: #322;
    padding: 5px;
    color: #a99;
    margin: 0 auto;
}

.feed-content::after {
    content: ' ...';
}

/*items list*/

.item {
    width: 33%;
    box-shadow: 0 0 1px #eee;
    display: inline-block;
    /*transition: 0.4s;*/
    background-color: #fff;
    cursor: pointer;
    text-align: center;
    margin: 0 auto !important;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.item:hover {
    box-shadow: 0 0 5px #222;
    border-bottom-color: #922;
}

.item:nth-child(even) {
    background-color: #caa !important;
}

.item:nth-child(odd) {
    background-color: #a99 !important;
}

#feed-peek::before {
    content: 'feeds';
    padding: 5px;
    text-align: center;
    display: block;
    font-weight: bold;
    color: #922;
}

#wrapper {
    padding: 10px;
    background-color: #fff;
    overflow-y: auto;
	z-index:0;
}

#footer {
    width: 100%;
    border-top:2px solid #ddd;
	border-width:80% !important;
    color: #a33;
    padding-top: 0.2vh;
    text-align: center;
    padding-bottom: 1vh !important;
	
}

/*desktop view*/
@media (min-width: 1001px) {
    #feed-peek {
        top: 10%;
        right: 0;
        width: 26%;
        height: 80vh;
        display: block;
		z-index:-30 !important;
        position: fixed;
        text-align: center;
        overflow-y: scroll !important;
        background-color: #fff;
        padding-top: 20px;
        margin-right: -15px;
    }

    .item {
        height: 20vh;
        padding-top: 7vh;
        float: left;
    }
	.itemx{position: absolute !important;z-index:30 !important;}
    #wrapper {
        top: 9%;
        left: 3px;
        width: 74%;
        height: 81vh;
        display: block;
        position: fixed;
        overflow-y: scroll;
		overflow-x:hidden;
    }

    #footer {
        bottom: 0;
        left: 0;
        position: fixed;
    }

    #settings-select::before {
        content: " ";
        position: absolute;
        bottom: 100%; /* At the top of the tooltip */
        left: 50%;
        margin-left: -12px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent #fff transparent;

    }
}

/*small and mid views*/
@media (max-width: 1000px) {
    #wrapper {
        margin-top: 60px;
        text-align: center;
    }
	#search-bar{width:70vw;}
    #search-results{width:100vw;left: 0;padding-left: 0;padding-right: 0;}
    .item {
        width: 400px;
        padding-top: 120px;
        padding-bottom: 120px;
		margin:1px auto;
    }
	.itemx{
		width:98% !important;
		left:1% !important;
		margin-top:50px !important;
		position:fixed !important;}
}

@media (max-width: 780px) {
	.itemx{position: fixed !important;margin-top:50px !important;}
    .head-elem:last-child {
        width: 10%;
    }

    #search-bar {
        width: 70vw;
        margin: 0 auto;
    }
    #search-results{width:100vw;left: 0;padding-left: 0;padding-right: 0;}
    #feed-peek {
        width: 100%;
        text-align: center;
        padding: 0;
        border: 0;
        text-align: center;
        border-top: 3px solid #700;
        margin: 0 auto;
        padding: 0;
    }

    #wrapper {
        width: 92%;
        text-align: center;
        margin: 0 auto;
        margin-top: 60px;
    }

    .item {
        width: 40%;
        display: inline-block;
    }

    #settings-select {
        width: 100vw;
        right: 0;
        top: 48px;
        position: absolute;
    }
}


/***mobile view***/
@media (max-width: 600px) {
    .item {
        width: 94%;
        display: block;
        outline: 1px solid #999;
        margin: 0 auto;
    }
	.itemx{
		position: fixed !important;
		height:84% !important;
		width:96% !important;
		left:2% !important;
		-webkit-transition: 0.3s ease-in-out , top 0.01s ease-in-out !important;
		-moz-transition: 0.3s ease-in-out , top 0.1s ease-in-out !important;
		-o-transition: 0.3s ease-in-out , top 0.1s ease-in-out !important;
		transition: 0.3s ease-in-out , top 0.1s ease-in-out!important;
		overflow:auto !important;
	}
    #settings-select {
        width: 100vw;
        right: 0;
        top: 48px;
        position: absolute;
    }
    #search-results{width:100vw;left: 0;padding-left: 0;padding-right: 0;}
}/***mobile view***/

.itemx {
    z-index:200 !important;
    width: 97%;
	margin:0 auto;
    top: 0%;
    left: 1.5%;
    background-color: #aaa !important;
	border-bottom:5px solid #bbb;
    margin-bottom: 2px;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    height: 78%;
	box-shadow:0 0 5px #000;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.tileClose{	border:none;color:#000;padding:5px;font-size:1.5em;background-color:transparent;cursor:pointer;top:0;right:0;position:absolute;
			display:none;float:right;margin-right:5px;clear:both !important;
			user-select:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;}
.item_content{
	padding:5px;text-align:center;display:none;border-left:4px solid #222;width:80%;margin:5px auto;margin-top:10px;
	
}
html{overflow-x:hidden !important;}

iframe{margin: 0;padding: 0;border: none;height:100%;width:100%;border-top: #c00 1px dotted;
  border-right: #c00 2px dotted;
  border-left: #c00 2px dotted;
  border-bottom: #c00 4px dotted;
  overflow:auto;}