@import url(http://fonts.googleapis.com/css?family=Tenor+Sans);

html {
    background-color: #434fac;
    font-family: "Tenor Sans", sans-serif;
}

.container {

    height: 400px;
    width: 600px;
    margin: 0 auto;
    margin-left:-0%;
    position: absolute;
    align-content: center;
    align-items: center;
    top:50%;
    left:50%;
    padding:15px;
    box-shadow: 2px 2px 5px #2c3571;
    background-color: #5D92BA;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.logo{
    margin-left: 38%;
    margin-right: auto;
    position: relative;
    background: none;
}

.login {
    display: block;
    top:10%;

    position: relative;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
}

.login-heading {
    font: 1.8em/48px "Tenor Sans", sans-serif;
    color: white;
    display: inline-block;
    line-height: 1.2em;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    cursor: default;
}

.input-txt {
    width: 100%;
    padding: 20px 10px;
    background: #5D92BA;
    border: none;
    font-size: 1em;
    color: white;
    border-bottom: 1px dotted rgba(250, 250, 250, 0.4);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-transition: background-color 0.5s ease-in-out;
    -o-transition: background-color 0.5s ease-in-out;
    -webkit-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
}


.input-txt-error {
    width: 100%;
    padding: 20px 10px;
    background: #972f24;
    border: none;
    font-size: 1em;
    color: white;
    border-bottom: 1px dotted rgba(250, 250, 250, 0.4);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-transition: background-color 0.5s ease-in-out;
    -o-transition: background-color 0.5s ease-in-out;
    -webkit-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
}

.input-txt:-moz-placeholder {
    color: #81aac9;
}

.input-txt:-ms-input-placeholder {
    color: #81aac9;
}

.input-txt::-webkit-input-placeholder {
    color: #81aac9;
}

.input-txt:focus {
    background-color: #4478a0;
}
.input-txt-error:focus {
    background-color: #bb4c4c;
}

.login-footer {
    margin: 10px 0;
    overlow: hidden;
    float: left;
    width: 100%;
}

.btn {
    padding: 15px 30px;
    border: none;
    background: white;
    color: #5D92BA;
    cursor: pointer;
    box-shadow: 2px 2px 5px #334c67;
}

.btn--right {
    float: right;
}

.btn:disabled{
    box-sizing: border-box;
    padding: 15px 30px;
    -webkit-box-shadow:inset 0px 0px 0px 2px #fff;
    -moz-box-shadow:inset 0px 0px 0px 2px #fff;
    box-shadow:inset 0px 0px 0px 2px #fff;
    background: #5D92BA;
    color: white;
    cursor: default;
}


.icon {
    display: inline-block;
}

.icon--min {
    font-size: .9em;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    /*color:#81aac9 !important; ;*/
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: yellow !important;
}


.lnk {
    font-size: .8em;
    line-height: 3em;
    color: white;
    text-decoration: none;
}
